body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

header h3{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

#map{
 height: 400px;
 width: 100%;
}

.parameter{
  margin-bottom: 10px;
}
